.variants-container {
  .variants-title {
    color: #dc624e;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 16px;
    text-transform: uppercase;
  }
  .variants-box {
    padding: 24px;
    background-color: #fff;
    border: solid 1px #e9d6c5;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;

    .variants-dropdown,
    .variants-dropdown-content-single {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .change-button:hover {
        cursor: pointer;
      }
      .change-button {
        color: #dc624e;
      }
      .variants-dropdown-right-side {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        font-weight: 700;

        i {
          font-size: 16px;
          display: flex;
          align-self: end;
        }
      }
    }
    .horizontal-line::after {
      content: "";
      display: inline-block;
      background-color: #f2f2f2;
      width: 100%;
      height: 1px;
    }
    .variants-dropdown-content {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .save-changes-button {
        display: flex;
        align-self: flex-end;
        button {
          padding: 10px 40px 10px 40px;
          border: solid 1px #000000;
          background-color: #dc624e;
          color: #fff;
          font-size: 14px;
          font-weight: 550;
          letter-spacing: 1px;
        }
      }
    }
  }
}

// here, because style is taken for several elements
.variants-dropdown-left-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  img {
    background-color: #e9d6c5;
  }
}
