@import "./layout.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background: linear-gradient(
    to right,
    #f8f1eb 0%,
    #f8f1eb 60%,
    #fff 50%,
    #fff 100%
  );
}
.container {
  .row {
    .total-container {
      grid-column-start: 10;
    }
  }
}
