.dropdown {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  padding: 2px 10px 5px 10px;
  align-items: center;
  position: relative;
  .dropdown-arrow {
    color: #828282;
    font-size: 14px;
  }
  .dropdown-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-size: 12px;
    color: #828282;
    .dropdown-title {
      display: flex;
      flex-direction: column;
      gap: 3px;
      .dropdown-title-select {
        font-size: 14px;
        color: #bdbdbd;
      }
    }
  }
}

////
.apie-mus-dropdown-all-levels {
  position: absolute;
  left: 0;
  top: 50px;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  box-shadow: 0 8px 24px rgba(#111111, 0.24);
  width: 100%;
  color: #666666;
  overflow: scroll;
  height: 300px;
}

.apie-mus-first-level {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 10px;
  width: 100%;
  // border-right: 1px solid #ececec;
  span:hover {
    background-color: #fafafa;
  }
  span {
    padding: 9px 8px 9px 8px;
    // padding-left: 40px;
    width: 100%;
    i {
      position: absolute;
      left: 15px;
    }
  }
}

.apie-mus-first-level-div {
  font-size: 20px;
  color: #acacac;
}
