.payment-container {
  .payment-title {
  }
  .payment-form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 24px;
    .customer-information,
    .shipping-adress {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .customer-information-title {
        display: flex;
        flex-direction: column;
        gap: 5px;
        span {
          font-size: 12px;
          font-family: roboto;
          line-height: 16px;
          font-weight: 550;
          color: #bdbdbd;
        }
      }
      .first-last-names {
        display: flex;
        gap: 16px;
      }
      .email-input {
        display: flex;
      }
    }
    .shipping-adress {
      .dropdown-section {
        display: flex;
        gap: 10px;
        .postal-code-input {
          width: 30%;
        }
      }
    }
    .payment-method {
      display: flex;
      flex-direction: column;
      gap: 5px;
      span {
        font-size: 12px;
        font-family: roboto;
        line-height: 16px;
        font-weight: 550;
        color: #bdbdbd;
        display: flex;
        align-items: center;
        i {
          font-size: 18px;
        }
      }
    }
    .payment-box {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 20px;
      background-color: #e0e0e0;
      .payment-check {
        display: flex;
        justify-content: space-between;
        .checkbox-container {
          display: flex;
          gap: 10px;
          font-size: 14px;
          align-items: center;
          .checkbox {
            height: 20px;
            width: 20px;
            border: solid 1px #dc624e;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            div {
              background-color: #dc624e;
              display: flex;
              width: 12px;
              height: 12px;
              border-radius: 50%;
            }
          }
          .checkbox:hover {
            cursor: pointer;
          }
        }
      }
      .payment-inputs {
        display: flex;
        flex-direction: column;
        gap: 15px;
        .payment-card-number {
          display: flex;
        }
        .payment-mm-cvv {
          display: flex;
          gap: 12px;
          input {
            width: 15%;
          }
        }
      }
    }
  }
}
input {
  width: 100%;
  padding: 12px 12px 12px 12px;
  border: solid 1px #e0e0e0;
  border-radius: 2px;
  display: flex;
}
::placeholder {
  color: #bdbdbd;
  font-size: 14px;
}

.form-title {
  font-size: 14px;
  font-weight: 550;
  font-family: system-ui;
  line-height: 1.4;
  display: flex;
}
