.payment-container {
  .payment-title {
    // background-color: fuchsia;
  }
  .payment-form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 24px;
    .customer-information,
    .shipping-adress {
      display: flex;
      flex-direction: column;
      gap: 16px;
      div {
        display: flex;
      }
      .customer-information-title {
        display: flex;
        flex-direction: column;
        gap: 5px;

        span {
          font-size: 12px;
          font-family: roboto;
          line-height: 16px;
          font-weight: 550;
          color: #bdbdbd;
        }
      }
      .first-last-names {
        display: flex;
        gap: 16px;
      }
      .email-input {
        display: flex;
      }
    }
    .shipping-adress {
    }
  }
}
input {
  width: 100%;
  padding: 12px 12px 12px 12px;
  border: solid 1px #e0e0e0;
  border-radius: 2px;
}
::placeholder {
  color: #bdbdbd;
  font-size: 14px;
}

.form-title {
  font-size: 14px;
  font-weight: 550;
  font-family: system-ui;
  line-height: 1.4;
}
